<div ng-include="'App/sharedPartials/navigation.html'"></div>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Calisthenics</h1>
            <p class="lead">
                Calisthenics are exercises consisting of a variety of gross motor movements—running, standing, grasping, pushing, etc. — often performed rhythmically and with minimal equipment, so essentially, bodyweight exercises. They are intended to increase body strength, body fitness, and flexibility, through movements such as pulling or pushing oneself up, bending, jumping, or swinging, using only one's body Height for resistance; usually conducted in concert with stretches. When performed vigorously and with variety, calisthenics can provide the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility and coordination. Many consider calisthenics as "movement through space", meaning you can move freely without any restriction blocking your full strength.
            </p>
        </div>
    </section>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 jumbotron text-center jumbotron-hover" ng-click="showMainExercises = !showMainExercises"><h1>Main Muscles</h1></div>
            </div>
            <div class="row" ng-show="showMainExercises">
                <div class="col-sm-2">
                    <a href="/calisthenics/push-ups" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Push-ups</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Squats</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Pull-Ups</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">The leg raise</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">The Bridges</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">The handstand push up</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--////////////////////////////////////Secondary/////////////////////////////-->
            <div class="row">
                <div class="col-sm-12 jumbotron text-center jumbotron-hover" ng-click="showSecondaryExercises = !showSecondaryExercises"><h1>Secondary Muscles</h1></div>
            </div>
            <div class="row" ng-show="showSecondaryExercises">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Calves</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Neck</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Forearms</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">abdominal oblique muscles</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Trifecta</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--////////////////////////////Explosive////////////////////////////////-->
            <div class="row">
                <div class="col-sm-12 jumbotron text-center jumbotron-hover" ng-click="showExplosiveExercises = !showExplosiveExercises"><h1>Explosive Exercises</h1></div>
            </div>
            <div class="row" ng-show="showExplosiveExercises">
                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Jumps</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Pop-ups</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Kip-up</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#s" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Front-flip</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Back-flip</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-2">
                    <a href="#" class="a-links">
                        <div class="card card-height-exercises mb-4">
                            <div class="card-body">
                                <p class="p-exercise">Muscle up</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </article>
</main>